input,select,textarea{
    appearance: none;
    width: 100%;
    border-radius: 0.5rem;
    border: 2px solid var(--input-stroke);
    padding: 1rem 0.75rem;

    background-color: var(--input-base);
    color: var(--input-placeholder);
    font:var(--text-sm-body);
    
}

input:focus,
select:focus,
textarea:focus{
    border-color:var(--brand-light);
    outline: var(--brand-light);
}

input{
    margin-bottom: 1rem;

    &:invalid{
        border:0.125rem solid var(--danger);
    }


}


.input-wrapper{

    &:has(input:invalid ~ .conteiner-error){
         & .conteiner-error{
            background-image: url(../../assets/icons/circle-alert.svg);
            background-repeat: no-repeat;
            background-size:contain ;

            & span::before{
                margin-left:1.4375rem;
                content: "Campo obrigatório";
                color: var(--danger);
                font: var(--text-xs-body);
            }
        }
    }

    &:has(input:valid)~.conteiner-error{
        & .conteiner-error{
            display: none;
        }

    }




}


label{
    font: var(--text-sm-body);
    color: var(--text-heading);

    display: inline-block;

    margin-bottom: 0.75rem;


}

input[type="datetime-local"]{
    text-transform: uppercase;
    

    &::-webkit-calendar-picker-indicator{
        opacity: 0;

    }
}

