.Frame-4 .input-wrapper{


    & .radio-wrapper{
        background-color: var(--input-base);

        height: 55px;
        padding: 0.25rem 0.25rem;

        border-radius: 0.5rem;
        border: 2px solid var(--input-stroke);

        & .radio-inner{
            
            label{
                color: var(--input-placeholder);
            }

            position: relative;
            

            input[type="radio"]{
                position: absolute;
                inset: 0;
                z-index: -1;
                height: 100%;
                width: 100%;
                border-radius: none;
                border: none;
            }
     
            border-radius: 0.25rem;

            padding-inline: 1rem 1rem;
            padding-top: 0.7rem;

            margin-bottom: 0;

            &:hover, &:has(input:focus, input:checked){
                background-color: var(--shape-body);
                
                & label{
                    color: var(--text-heading);
                }

                & svg path{
                    stroke:var(--brand-light) ;
                }               
                
            }
       }
    }
}



.Frame-5{

   


    & .input-wrapper:nth-child(2){

        & .radio-inner{
    

            input[type="radio"]{
                position: relative;
                border-radius: 100%;
                z-index: auto;
                border: 5px solid var(--shape-button);
                height: 1.75rem;

                &:hover, &:checked, &:focus{
                    outline: 3px solid  var(--brand-light);
                }
            }

            

            & input[id="light-blue"]{
                background-color: var(--brand-light);
            }

            & input[id="navy"]{
                background-color: var(--navy);
            }

            & input[id="purple"]{
                background-color: var(--purple);
            }

            & input[id="fuschia"]{
                background-color: var(--fuschia);
            }

            & input[id="pink"]{
                background-color: var(--pink);
            }

            & input[id="red"]{
                background-color: var(--danger);
            }

            & input[id="orange"]{
                background-color: var(--orange);
            }

            & input[id="yellow"]{
                background-color: var(--yellow);
            }

            & input[id="lime"]{
                background-color: var(--lime);
            }

            & input[id="green"]{
                background-color: var(--green);
            }

            & input[id="cyan"]{
                background-color: var(--cyan);
            }

            





        }

    } & .input-wrapper:nth-child(3){


        & .radio-inner{

            text-align: center;

            position: relative;

            padding: 0.25rem 0.25rem 0.5rem 0.25rem;

            width: 8.375rem;
            height:6.4375rem ;

            border-radius: 0.5rem;
            
            img{
                width: 100%;
                
            }

            

            input[type="radio"]{
                background-color: var(--shape-button);
                
                position: absolute;
                inset: 0;
                z-index: -1;
                height: 100%;
                width: 100%;    
                
                &:focus{
                  border-color: var(--shape-button);  
                }
            }

            &:hover, &:has(input:checked){
                outline: 3px solid var(--brand-light);
                
            }

        }

    } & .input-wrapper:nth-child(4){

        margin-top: 1.75rem;

        & .radio-inner{
            position: relative;
            width: 4em;
            height: 2rem;
        
            border: 2px solid var(--input-stroke);
            border-radius: 2.4375rem;

            & input{
                opacity: 0;
              
            }

            & #circle::before{
                background-color:var(--input-stroke);
                border-radius: 1.875rem;
                position: absolute;
                content: "";
                height: 1.5625rem;
                width: 1.5625rem;
                left: 0.1875rem;
                right: 0;
                top: 0.0625rem;
                bottom: 0;
            }

            & ~ .content::before{
                content:"Escuro";
            }
            

            &:has(input:checked + #circle){
                background-color: var(--brand-light);

                & #circle::before{
                    background-color: var(--text-heading);
                }

                & ~ .content::before{
                    content:"Claro"
                    
                }

                
            } 

            & input:checked + #circle::before{
                left: 2rem;

                
                
            }



            

            
        }
        
    }
}


