#app{
    display: grid;
    grid-template-columns: 36.7% 63.3%;
    height: 100vh;



}

body{
    overflow: hidden;
    background-color: var(--shape-body);
}

main{
    overflow: auto;
    padding: 5rem;

    & .main-conteiner{
        max-width: 31rem;
        
    }


}

aside{  
    
    padding: 5rem;
    background-image: url(/assets/img/Background.png);
    background-repeat:round;
    

    & .aside-conteiner{
        max-width: 31rem;

        & h1{
            font: var(--text-logo);
            color:var(--pink) ;
        }

        & .text{
            span{
                font:var(--text-sm-body);
                color: var(--text-heading);

            }
        }
        
    }
}

