.grid{
    display: grid;
}

.flex{
    display: flex;  
}

.flex-1{
    flex: 1;
}

.flex-2{
    flex: 2;
}

.gap-12{
    gap: 0.75rem ;
}

.gap-8{
    gap: 0.5rem;
}

.gap-16{
    gap: 1rem;
}

.align-itens-center{
    align-items:center ;
}

.align-itens-end{
    align-items:end;

}

.align-content-baseline{
    align-content: baseline;
}

.align-content-center{
    align-content: center;
}

.align-self-center{
    align-self: center;
}


.justify-content-center{
    justify-content: center;
}

.flex-wrap-wrap{
    flex-wrap: wrap;
}
